#resume-generator {
  max-width: max-content;
  width: 100vw;
  margin: auto;
}

#resume-generator header {
  width: fit-content;
  margin: auto;
  margin-top: 10px;
}

#resume-generator .submit-resume {
  display: block;
  padding: 8px;
  border: 1px solid #343332;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  width: fit-content;
  margin: auto;
}
